.sidenav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.sidenav__logo {
  width: 120px;
  margin: 25px;
}

.sidenav_buttons {
    display: flex;
    flex-direction: column;
    gap: 19px;


}
.sidenav_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background:0;
    border: 0cap;
    margin:5px 10px 5px 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    width: 100%;
}
.sidenav_button:hover {
   cursor:pointer;
   background-color: rgba(255, 255, 255, 0.128);
}
.sidenav_button > span {
    font-size: 20px;
    font-weight: lighter;
    margin-left: 10px;
    font-family: sans-serif;
}
.logout_button {
  font-size: 15px;
  border-radius: 10px;
  font-weight: bold;
  color: #0095f6;
  background-color: black;
  border: 0;
  padding: 10px;
  
}
.logout_button:hover {
  cursor: pointer;

}